// Font
$font-size-base: 16px;
$font: #475555;
$mediumfont: #ABABAB;
$lightfont: #DEDEDE;

// Border
$border: #DDDDDD;
$darkborder: #CCCCCC;
$lightborder: #EAEAEA;

// Breakpoint
$breakpoint: 768px;
$l-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1600px;
$breakpoint-max: 767px;
$l-breakpoint-max: 991px;
$xl-breakpoint-max: 1199px;
$xxl-breakpoint-max: 1599px;

// Color
$whitesmoke: #F9F9F9;
$brand: #3760AA;
$black: #000000;
$white: #FFFFFF;
$purple: #BD608B;
$darkblue: #0F306A;
$blue: #3760AA;
$lightblue: #b4cdfa;
$red: #DE5866;
$lightred: #F2DEDE;
$orange: #F3A760;
$fuchsia: #F16475;

// Brand
$brand-primary: $blue;
$brand-info: $orange;
$brand-danger: $red;
$brand-warning: $fuchsia;