.container-narrow.sign-in {
  text-align: center;
  .sign-in-title {
    font-size: 2em;
    padding-bottom: 10px;
  }
  .sign-in-field {
    margin-bottom: 10px;
  }
  .sign-in-button {
    width: 100%;
    margin-bottom: 10px;
  }
  .sign-in-link {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .sign-in-terms {
    font-size: .75em;
  }
}